{% extends 'shop/base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {% if category %}
        {% blocktrans with title=category.name %}
            {{ title }}
        {% endblocktrans %}
    {% else %}{% trans "Products" %}{% endif %}

{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>{% trans "Categories" %}</h3>
        <ul>
            {% if not category %}
                <li class="menu-selected">{% trans "All" %}</li>
            {% else %}
                <li><a href="{% url 'shop:product_list' %}">{% trans "All" %}</a></li>
            {% endif %}

            {% for c in categories %}
                {% if category.slug == c.slug %}
                    <li class="menu-selected">{{ c.name }}</li>
                {% else %}
                    <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="main" class="product-list">
        <h1>{% if category %}
                {% blocktrans with title=category.name %}
                    {{ title }} 
                {% endblocktrans %}
            {% else %}{% trans "Products" %}{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                {% if product.image %}
                    {% thumbnail product.image "700x580" crop="center" as im %}
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ im.url }}">
                    </a>
                    {% endthumbnail %}
                {% else  %}
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% static 'img/no_image.png' %}">
                </a>
                    {% endif %}
                <!-- <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a> -->
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}